<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="warning" title="Go back"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">register</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div class="flex-center">
    <ion-card>
      <ion-card-header color="warning">

        <ion-card-title>Add new Warning</ion-card-title>
        
      </ion-card-header>
    
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input [(ngModel)]="title" label="Title:" placeholder=""></ion-input>
          </ion-item>

          <ion-item>
            <ion-input [(ngModel)]="country" label="Country:" placeholder=""></ion-input>
          </ion-item>

          <ion-item>
            <ion-input [(ngModel)]="neighborhood" label="Neighborhood:" placeholder=""></ion-input>
          </ion-item>

          <ion-item>
            <ion-input [(ngModel)]="address" label="Address:" placeholder=""></ion-input>
          </ion-item>

          <ion-item>
            <ion-input [(ngModel)]="city" label="City:" placeholder=""></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Valid ramp:</ion-label>
            <ion-checkbox [(ngModel)]="validRamp"></ion-checkbox>
          </ion-item>
        </ion-list>

        <br/>
        <ion-button color="warning" size="full" shape="round" (click)="addWarning()">ADD WARNING</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>

