<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Railway
    </ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content [fullscreen]="true">

  <ion-list color="warning">
    <ion-item color="warning">
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>
        <h1>{{ userEmail || 'Pokémon Guest' }}</h1>
        <p>~drive carefully~</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>

    <ion-item  *ngFor="let warning of warnings" >
      <app-warning class="warning-item"
        [title]="warning.title"
        [address]="warning.address"
        [neighborhood]="warning.neighborhood"
        [country]="warning.country"
        [city]="warning.city"
        [validRamp]="warning.validRamp"
        [edit]="true"
      ></app-warning>
    </ion-item>
    
    <app-warning [validRamp]="true" [edit]="true" title="Warning 1"></app-warning>
    <app-warning [validRamp]="false" [edit]="true" title="Warning 2"></app-warning>
    <app-warning [validRamp]="false" [edit]="true" title="Warning 3"></app-warning>
    <app-warning [validRamp]="true" [edit]="true" title="Warning 4"></app-warning>
    
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    
    <ion-fab-button color="warning" (click)="newWarning()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- <app-explore-container name="CRUD page"></app-explore-container> -->
</ion-content>
